extends layout

block content
    .container
        .header
            a.title(href='/')=header.title
            //Стоит заглушка на регистрацию
            a.button.small-button.button-left(href='#')=header.button2
            //Стартовой страницей является вход
            a.button.small-button.button-right(href='/')=header.button1
        form.entry.search-form
            label.main-text(for='input-address') Enter ip-address or domain name
            input#input-address(type="text")
            input.button.big-button.clearfix#button-search(type="submit" value='Q')
        .information-block
            p='Information about ' + currentAddress
            ul.information-list
                li='Date: ' + information.date
                li='Author: ' + information.author
                li='Percent: ' + information.percent + '%'

        .clr
